.cuentaregresiva{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.big-number{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}